* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
}

section {
    margin: 0 auto;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
}

h2 {
    font-size: 26pt;
}

button {
    padding: 4px;
    background-color: lavender;
}

button:hover {
    cursor: pointer;
    background-color:rgb(145, 145, 223);
    color: white;
}

#Leaderboard #high-score-list {
    background-color: lavender;
    width: 50vw;
    padding: 10px;
}

#Leaderboard li {
    padding: 4px;
    background-color: rgb(204, 204, 235);
}

#Leaderboard li span {
    display: float;
}

#Leaderboard li .rankNum {
    font-weight: bold;
    float: left;
}

#Leaderboard li .rankName {
    float: left;
}

#Leaderboard li .rankScore {
    font-weight: bold;
    float: right;
}